31*00000010*4*1">ABADIA DOS DOURADOS</option>
31*00000020*3*1">ABAETE</option>
31*00000030*2*1">ABRE CAMPO</option>
31*00000040*1*1">ACAIACA</option>
31*00000050*0*1">ACUCENA</option>
31*00000060*9*1">AGUA BOA</option>
31*00000070*8*1">AGUA COMPRIDA</option>
31*00000080*7*1">AGUANIL</option>
31*00000090*6*1">AGUAS FORMOSAS</option>
31*00000100*3*1">AGUAS VERMELHAS</option>
31*00000110*2*1">AIMORES</option>
31*00000120*1*1">AIURUOCA</option>
31*00000130*0*1">ALAGOA</option>
31*00000140*9*1">ALBERTINA</option>
31*00000150*8*1">ALEM PARAIBA</option>
31*00000160*7*1">ALFENAS</option>
31*00000163*1*1">ALFREDO VASCONCELOS</option>
31*00000170*6*1">ALMENARA</option>
31*00000180*5*1">ALPERCATA</option>
31*00000190*4*1">ALPINOPOLIS</option>
31*00000200*1*1">ALTEROSA</option>
31*00000205*0*1">ALTO CAPARAO</option>
31*00005350*9*1">ALTO JEQUITIBA</option>
31*00000210*0*1">ALTO RIO DOCE</option>
31*00000220*9*1">ALVARENGA</option>
31*00000230*8*1">ALVINOPOLIS</option>
31*00000240*7*1">ALVORADA DE MINAS</option>
31*00000250*6*1">AMPARO DO SERRA</option>
31*00000260*5*1">ANDRADAS</option>
31*00000280*3*1">ANDRELANDIA</option>
31*00000285*2*1">ANGELANDIA</option>
31*00000290*2*1">ANTONIO CARLOS</option>
31*00000300*9*1">ANTONIO DIAS</option>
31*00000310*8*1">ANTONIO PRADO DE MINAS</option>
31*00000320*7*1">ARACAI</option>
31*00000330*6*1">ARACITABA</option>
31*00000340*5*1">ARACUAI</option>
31*00000350*4*1">ARAGUARI</option>
31*00000360*3*1">ARANTINA</option>
31*00000370*2*1">ARAPONGA</option>
31*00000375*1*1">ARAPORA</option>
31*00000380*1*1">ARAPUA</option>
31*00000390*0*1">ARAUJOS</option>
31*00000400*7*1">ARAXA</option>
31*00000410*6*1">ARCEBURGO</option>
31*00000420*5*1">ARCOS</option>
31*00000430*4*1">AREADO</option>
31*00000440*3*1">ARGIRITA</option>
31*00000445*2*1">ARICANDUVA</option>
31*00000450*2*1">ARINOS</option>
31*00000460*1*1">ASTOLFO DUTRA</option>
31*00000470*0*1">ATALEIA</option>
31*00000480*9*1">AUGUSTO DE LIMA</option>
31*00000490*8*1">BAEPENDI</option>
31*00000500*4*1">BALDIM</option>
31*00000510*3*1">BAMBUI</option>
31*00000520*2*1">BANDEIRA</option>
31*00000530*1*1">BANDEIRA DO SUL</option>
31*00000540*0*1">BARAO DE COCAIS</option>
31*00000550*9*1">BARAO DE MONTE ALTO</option>
31*00000560*8*1">BARBACENA</option>
31*00000570*7*1">BARRA LONGA</option>
31*00000590*5*1">BARROSO</option>
31*00000600*2*1">BELA VISTA DE MINAS</option>
31*00000610*1*1">BELMIRO BRAGA</option>
31*00000620*0*1">BELO HORIZONTE</option>
31*00000630*9*1">BELO ORIENTE</option>
31*00000640*8*1">BELO VALE</option>
31*00000650*7*1">BERILO</option>
31*00000665*5*1">BERIZAL</option>
31*00000660*6*1">BERTOPOLIS</option>
31*00000670*5*1">BETIM</option>
31*00000680*4*1">BIAS FORTES</option>
31*00000690*3*1">BICAS</option>
31*00000700*0*1">BIQUINHAS</option>
31*00000710*9*1">BOA ESPERANCA</option>
31*00000720*8*1">BOCAINA DE MINAS</option>
31*00000730*7*1">BOCAIUVA</option>
31*00000740*6*1">BOM DESPACHO</option>
31*00000750*5*1">BOM JARDIM DE MINAS</option>
31*00000760*4*1">BOM JESUS DA PENHA</option>
31*00000770*3*1">BOM JESUS DO AMPARO</option>
31*00000780*2*1">BOM JESUS DO GALHO</option>
31*00000790*1*1">BOM REPOUSO</option>
31*00000800*8*1">BOM SUCESSO</option>
31*00000810*7*1">BONFIM</option>
31*00000820*6*1">BONFINOPOLIS DE MINAS</option>
31*00000825*5*1">BONITO DE MINAS</option>
31*00000830*5*1">BORDA DA MATA</option>
31*00000840*4*1">BOTELHOS</option>
31*00000850*3*1">BOTUMIRIM</option>
31*00000870*1*1">BRAS PIRES</option>
31*00000855*2*1">BRASILANDIA DE MINAS</option>
31*00000860*2*1">BRASILIA DE MINAS</option>
31*00000890*9*1">BRASOPOLIS</option>
31*00000880*0*1">BRAUNAS</option>
31*00000900*6*1">BRUMADINHO</option>
31*00000910*5*1">BUENO BRANDAO</option>
31*00000920*4*1">BUENOPOLIS</option>
31*00000925*3*1">BUGRE</option>
31*00000930*3*1">BURITIS</option>
31*00000940*2*1">BURITIZEIRO</option>
31*00000945*1*1">CABECEIRA GRANDE</option>
31*00000950*1*1">CABO VERDE</option>
31*00000960*0*1">CACHOEIRA DA PRATA</option>
31*00000970*9*1">CACHOEIRA DE MINAS</option>
31*00000270*4*1">CACHOEIRA DE PAJEU</option>
31*00000980*8*1">CACHOEIRA DOURADA</option>
31*00000990*7*1">CAETANOPOLIS</option>
31*00001000*4*1">CAETE</option>
31*00001010*3*1">CAIANA</option>
31*00001020*2*1">CAJURI</option>
31*00001030*1*1">CALDAS</option>
31*00001040*0*1">CAMACHO</option>
31*00001050*9*1">CAMANDUCAIA</option>
31*00001060*8*1">CAMBUI</option>
31*00001070*7*1">CAMBUQUIRA</option>
31*00001080*6*1">CAMPANARIO</option>
31*00001090*5*1">CAMPANHA</option>
31*00001100*2*1">CAMPESTRE</option>
31*00001110*1*1">CAMPINA VERDE</option>
31*00001115*0*1">CAMPO AZUL</option>
31*00001120*0*1">CAMPO BELO</option>
31*00001130*9*1">CAMPO DO MEIO</option>
31*00001140*8*1">CAMPO FLORIDO</option>
31*00001150*7*1">CAMPOS ALTOS</option>
31*00001160*6*1">CAMPOS GERAIS</option>
31*00001190*3*1">CANA VERDE</option>
31*00001170*5*1">CANAA</option>
31*00001180*4*1">CANAPOLIS</option>
31*00001200*0*1">CANDEIAS</option>
31*00001205*9*1">CANTAGALO</option>
31*00001210*9*1">CAPARAO</option>
31*00001220*8*1">CAPELA NOVA</option>
31*00001230*7*1">CAPELINHA</option>
31*00001240*6*1">CAPETINGA</option>
31*00001250*5*1">CAPIM BRANCO</option>
31*00001260*4*1">CAPINOPOLIS</option>
31*00001265*3*1">CAPITAO ANDRADE</option>
31*00001270*3*1">CAPITAO ENEAS</option>
31*00001280*2*1">CAPITOLIO</option>
31*00001290*1*1">CAPUTIRA</option>
31*00001300*8*1">CARAI</option>
31*00001310*7*1">CARANAIBA</option>
31*00001320*6*1">CARANDAI</option>
31*00001330*5*1">CARANGOLA</option>
31*00001340*4*1">CARATINGA</option>
31*00001350*3*1">CARBONITA</option>
31*00001360*2*1">CAREACU</option>
31*00001370*1*1">CARLOS CHAGAS</option>
31*00001380*0*1">CARMESIA</option>
31*00001390*9*1">CARMO DA CACHOEIRA</option>
31*00001400*6*1">CARMO DA MATA</option>
31*00001410*5*1">CARMO DE MINAS</option>
31*00001420*4*1">CARMO DO CAJURU</option>
31*00001430*3*1">CARMO DO PARANAIBA</option>
31*00001440*2*1">CARMO DO RIO CLARO</option>
31*00001450*1*1">CARMOPOLIS DE MINAS</option>
31*00001455*0*1">CARNEIRINHO</option>
31*00001460*0*1">CARRANCAS</option>
31*00001470*9*1">CARVALHOPOLIS</option>
31*00001480*8*1">CARVALHOS</option>
31*00001490*7*1">CASA GRANDE</option>
31*00001500*3*1">CASCALHO RICO</option>
31*00001510*2*1">CASSIA</option>
31*00001530*0*1">CATAGUASES</option>
31*00001535*9*1">CATAS ALTAS</option>
31*00001540*9*1">CATAS ALTAS DA NORUEGA</option>
31*00001545*8*1">CATUJI</option>
31*00001547*4*1">CATUTI</option>
31*00001550*8*1">CAXAMBU</option>
31*00001560*7*1">CEDRO DO ABAETE</option>
31*00001570*6*1">CENTRAL DE MINAS</option>
31*00001580*5*1">CENTRALINA</option>
31*00001590*4*1">CHACARA</option>
31*00001600*1*1">CHALE</option>
31*00001610*0*1">CHAPADA DO NORTE</option>
31*00001615*9*1">CHAPADA GAUCHA</option>
31*00001620*9*1">CHIADOR</option>
31*00001630*8*1">CIPOTANEA</option>
31*00001640*7*1">CLARAVAL</option>
31*00001650*6*1">CLARO DOS POCOES</option>
31*00001660*5*1">CLAUDIO</option>
31*00001670*4*1">COIMBRA</option>
31*00001680*3*1">COLUNA</option>
31*00001690*2*1">COMENDADOR GOMES</option>
31*00001700*9*1">COMERCINHO</option>
31*00001710*8*1">CONCEICAO DA APARECIDA</option>
31*00001520*1*1">CONCEICAO DA BARRA DE MINAS</option>
31*00001730*6*1">CONCEICAO DAS ALAGOAS</option>
31*00001720*7*1">CONCEICAO DAS PEDRAS</option>
31*00001740*5*1">CONCEICAO DE IPANEMA</option>
31*00001750*4*1">CONCEICAO DO MATO DENTRO</option>
31*00001760*3*1">CONCEICAO DO PARA</option>
31*00001770*2*1">CONCEICAO DO RIO VERDE</option>
31*00001780*1*1">CONCEICAO DOS OUROS</option>
31*00001783*6*1">CONEGO MARINHO</option>
31*00001787*6*1">CONFINS</option>
31*00001790*0*1">CONGONHAL</option>
31*00001800*7*1">CONGONHAS</option>
31*00001810*6*1">CONGONHAS DO NORTE</option>
31*00001820*5*1">CONQUISTA</option>
31*00001830*4*1">CONSELHEIRO LAFAIETE</option>
31*00001840*3*1">CONSELHEIRO PENA</option>
31*00001850*2*1">CONSOLACAO</option>
31*00001860*1*1">CONTAGEM</option>
31*00001870*0*1">COQUEIRAL</option>
31*00001880*9*1">CORACAO DE JESUS</option>
31*00001890*8*1">CORDISBURGO</option>
31*00001900*5*1">CORDISLANDIA</option>
31*00001910*4*1">CORINTO</option>
31*00001920*3*1">COROACI</option>
31*00001930*2*1">COROMANDEL</option>
31*00001940*1*1">CORONEL FABRICIANO</option>
31*00001950*0*1">CORONEL MURTA</option>
31*00001960*9*1">CORONEL PACHECO</option>
31*00001970*8*1">CORONEL XAVIER CHAVES</option>
31*00001980*7*1">CORREGO DANTA</option>
31*00001990*6*1">CORREGO DO BOM JESUS</option>
31*00001995*5*1">CORREGO FUNDO</option>
31*00002000*3*1">CORREGO NOVO</option>
31*00002010*2*1">COUTO DE MAGALHAES DE MINAS</option>
31*00002015*1*1">CRISOLITA</option>
31*00002020*1*1">CRISTAIS</option>
31*00002030*0*1">CRISTALIA</option>
31*00002040*9*1">CRISTIANO OTONI</option>
31*00002050*8*1">CRISTINA</option>
31*00002060*7*1">CRUCILANDIA</option>
31*00002070*6*1">CRUZEIRO DA FORTALEZA</option>
31*00002080*5*1">CRUZILIA</option>
31*00002083*9*1">CUPARAQUE</option>
31*00002087*0*1">CURRAL DE DENTRO</option>
31*00002090*4*1">CURVELO</option>
31*00002100*1*1">DATAS</option>
31*00002110*0*1">DELFIM MOREIRA</option>
31*00002120*9*1">DELFINOPOLIS</option>
31*00002125*8*1">DELTA</option>
31*00002130*8*1">DESCOBERTO</option>
31*00002140*7*1">DESTERRO DE ENTRE RIOS</option>
31*00002150*6*1">DESTERRO DO MELO</option>
31*00002160*5*1">DIAMANTINA</option>
31*00002170*4*1">DIOGO DE VASCONCELOS</option>
31*00002180*3*1">DIONISIO</option>
31*00002190*2*1">DIVINESIA</option>
31*00002200*9*1">DIVINO</option>
31*00002210*8*1">DIVINO DAS LARANJEIRAS</option>
31*00002220*7*1">DIVINOLANDIA DE MINAS</option>
31*00002230*6*1">DIVINOPOLIS</option>
31*00002235*5*1">DIVISA ALEGRE</option>
31*00002240*5*1">DIVISA NOVA</option>
31*00002245*4*1">DIVISOPOLIS</option>
31*00002247*0*1">DOM BOSCO</option>
31*00002250*4*1">DOM CAVATI</option>
31*00002260*3*1">DOM JOAQUIM</option>
31*00002270*2*1">DOM SILVERIO</option>
31*00002280*1*1">DOM VICOSO</option>
31*00002290*0*1">DONA EUSEBIA</option>
31*00002300*7*1">DORES DE CAMPOS</option>
31*00002310*6*1">DORES DE GUANHAES</option>
31*00002320*5*1">DORES DO INDAIA</option>
31*00002330*4*1">DORES DO TURVO</option>
31*00002340*3*1">DORESOPOLIS</option>
31*00002350*2*1">DOURADOQUARA</option>
31*00002352*8*1">DURANDE</option>
31*00002360*1*1">ELOI MENDES</option>
31*00002370*0*1">ENGENHEIRO CALDAS</option>
31*00002380*9*1">ENGENHEIRO NAVARRO</option>
31*00002385*8*1">ENTRE FOLHAS</option>
31*00002390*8*1">ENTRE RIOS DE MINAS</option>
31*00002400*5*1">ERVALIA</option>
31*00002410*4*1">ESMERALDAS</option>
31*00002420*3*1">ESPERA FELIZ</option>
31*00002430*2*1">ESPINOSA</option>
31*00002440*1*1">ESPIRITO SANTO DO DOURADO</option>
31*00002450*0*1">ESTIVA</option>
31*00002460*9*1">ESTRELA DALVA</option>
31*00002470*8*1">ESTRELA DO INDAIA</option>
31*00002480*7*1">ESTRELA DO SUL</option>
31*00002490*6*1">EUGENOPOLIS</option>
31*00002500*2*1">EWBANK DA CAMARA</option>
31*00002510*1*1">EXTREMA</option>
31*00002520*0*1">FAMA</option>
31*00002530*9*1">FARIA LEMOS</option>
31*00002540*8*1">FELICIO DOS SANTOS</option>
31*00002560*6*1">FELISBURGO</option>
31*00002570*5*1">FELIXLANDIA</option>
31*00002580*4*1">FERNANDES TOURINHO</option>
31*00002590*3*1">FERROS</option>
31*00002595*2*1">FERVEDOURO</option>
31*00002600*0*1">FLORESTAL</option>
31*00002610*9*1">FORMIGA</option>
31*00002620*8*1">FORMOSO</option>
31*00002630*7*1">FORTALEZA DE MINAS</option>
31*00002640*6*1">FORTUNA DE MINAS</option>
31*00002650*5*1">FRANCISCO BADARO</option>
31*00002660*4*1">FRANCISCO DUMONT</option>
31*00002670*3*1">FRANCISCO SA</option>
31*00002675*2*1">FRANCISCOPOLIS</option>
31*00002680*2*1">FREI GASPAR</option>
31*00002690*1*1">FREI INOCENCIO</option>
31*00002695*0*1">FREI LAGONEGRO</option>
31*00002700*8*1">FRONTEIRA</option>
31*00002705*7*1">FRONTEIRA DOS VALES</option>
31*00002707*3*1">FRUTA DE LEITE</option>
31*00002710*7*1">FRUTAL</option>
31*00002720*6*1">FUNILANDIA</option>
31*00002730*5*1">GALILEIA</option>
31*00002733*9*1">GAMELEIRAS</option>
31*00002735*4*1">GLAUCILANDIA</option>
31*00002737*0*1">GOIABEIRA</option>
31*00002738*8*1">GOIANA</option>
31*00002740*4*1">GONCALVES</option>
31*00002750*3*1">GONZAGA</option>
31*00002760*2*1">GOUVEIA</option>
31*00002770*1*1">GOVERNADOR VALADARES</option>
31*00002780*0*1">GRAO MOGOL</option>
31*00002790*9*1">GRUPIARA</option>
31*00002800*6*1">GUANHAES</option>
31*00002810*5*1">GUAPE</option>
31*00002820*4*1">GUARACIABA</option>
31*00002825*3*1">GUARACIAMA</option>
31*00002830*3*1">GUARANESIA</option>
31*00002840*2*1">GUARANI</option>
31*00002850*1*1">GUARARA</option>
31*00002860*0*1">GUARDA-MOR</option>
31*00002870*9*1">GUAXUPE</option>
31*00002880*8*1">GUIDOVAL</option>
31*00002890*7*1">GUIMARANIA</option>
31*00002900*4*1">GUIRICEMA</option>
31*00002910*3*1">GURINHATA</option>
31*00002920*2*1">HELIODORA</option>
31*00002930*1*1">IAPU</option>
31*00002940*0*1">IBERTIOGA</option>
31*00002950*9*1">IBIA</option>
31*00002960*8*1">IBIAI</option>
31*00002965*7*1">IBIRACATU</option>
31*00002970*7*1">IBIRACI</option>
31*00002980*6*1">IBIRITE</option>
31*00002990*5*1">IBITIURA DE MINAS</option>
31*00003000*2*1">IBITURUNA</option>
31*00003005*1*1">ICARAI DE MINAS</option>
31*00003010*1*1">IGARAPE</option>
31*00003020*0*1">IGARATINGA</option>
31*00003030*9*1">IGUATAMA</option>
31*00003040*8*1">IJACI</option>
31*00003050*7*1">ILICINEA</option>
31*00003055*6*1">IMBE DE MINAS</option>
31*00003060*6*1">INCONFIDENTES</option>
31*00003065*5*1">INDAIABIRA</option>
31*00003070*5*1">INDIANOPOLIS</option>
31*00003080*4*1">INGAI</option>
31*00003090*3*1">INHAPIM</option>
31*00003100*0*1">INHAUMA</option>
31*00003110*9*1">INIMUTABA</option>
31*00003115*8*1">IPABA</option>
31*00003120*8*1">IPANEMA</option>
31*00003130*7*1">IPATINGA</option>
31*00003140*6*1">IPIACU</option>
31*00003150*5*1">IPUIUNA</option>
31*00003160*4*1">IRAI DE MINAS</option>
31*00003170*3*1">ITABIRA</option>
31*00003180*2*1">ITABIRINHA</option>
31*00003190*1*1">ITABIRITO</option>
31*00003200*8*1">ITACAMBIRA</option>
31*00003210*7*1">ITACARAMBI</option>
31*00003220*6*1">ITAGUARA</option>
31*00003230*5*1">ITAIPE</option>
31*00003240*4*1">ITAJUBA</option>
31*00003250*3*1">ITAMARANDIBA</option>
31*00003260*2*1">ITAMARATI DE MINAS</option>
31*00003270*1*1">ITAMBACURI</option>
31*00003280*0*1">ITAMBE DO MATO DENTRO</option>
31*00003290*9*1">ITAMOGI</option>
31*00003300*6*1">ITAMONTE</option>
31*00003310*5*1">ITANHANDU</option>
31*00003320*4*1">ITANHOMI</option>
31*00003330*3*1">ITAOBIM</option>
31*00003340*2*1">ITAPAGIPE</option>
31*00003350*1*1">ITAPECERICA</option>
31*00003360*0*1">ITAPEVA</option>
31*00003370*9*1">ITATIAIUCU</option>
31*00003375*8*1">ITAU DE MINAS</option>
31*00003380*8*1">ITAUNA</option>
31*00003390*7*1">ITAVERAVA</option>
31*00003400*4*1">ITINGA</option>
31*00003410*3*1">ITUETA</option>
31*00003420*2*1">ITUIUTABA</option>
31*00003430*1*1">ITUMIRIM</option>
31*00003440*0*1">ITURAMA</option>
31*00003450*9*1">ITUTINGA</option>
31*00003460*8*1">JABOTICATUBAS</option>
31*00003470*7*1">JACINTO</option>
31*00003480*6*1">JACUI</option>
31*00003490*5*1">JACUTINGA</option>
31*00003500*1*1">JAGUARACU</option>
31*00003505*0*1">JAIBA</option>
31*00003507*6*1">JAMPRUCA</option>
31*00003510*0*1">JANAUBA</option>
31*00003520*9*1">JANUARIA</option>
31*00003530*8*1">JAPARAIBA</option>
31*00003535*7*1">JAPONVAR</option>
31*00003540*7*1">JECEABA</option>
31*00003545*6*1">JENIPAPO DE MINAS</option>
31*00003550*6*1">JEQUERI</option>
31*00003560*5*1">JEQUITAI</option>
31*00003570*4*1">JEQUITIBA</option>
31*00003580*3*1">JEQUITINHONHA</option>
31*00003590*2*1">JESUANIA</option>
31*00003600*9*1">JOAIMA</option>
31*00003610*8*1">JOANESIA</option>
31*00003620*7*1">JOAO MONLEVADE</option>
31*00003630*6*1">JOAO PINHEIRO</option>
31*00003640*5*1">JOAQUIM FELICIO</option>
31*00003650*4*1">JORDANIA</option>
31*00003652*0*1">JOSE GONCALVES DE MINAS</option>
31*00003655*3*1">JOSE RAYDAN</option>
31*00003657*9*1">JOSENOPOLIS</option>
31*00003665*2*1">JUATUBA</option>
31*00003670*2*1">JUIZ DE FORA</option>
31*00003680*1*1">JURAMENTO</option>
31*00003690*0*1">JURUAIA</option>
31*00003695*9*1">JUVENILIA</option>
31*00003700*7*1">LADAINHA</option>
31*00003710*6*1">LAGAMAR</option>
31*00003720*5*1">LAGOA DA PRATA</option>
31*00003730*4*1">LAGOA DOS PATOS</option>
31*00003740*3*1">LAGOA DOURADA</option>
31*00003750*2*1">LAGOA FORMOSA</option>
31*00003753*6*1">LAGOA GRANDE</option>
31*00003760*1*1">LAGOA SANTA</option>
31*00003770*0*1">LAJINHA</option>
31*00003780*9*1">LAMBARI</option>
31*00003790*8*1">LAMIM</option>
31*00003800*5*1">LARANJAL</option>
31*00003810*4*1">LASSANCE</option>
31*00003820*3*1">LAVRAS</option>
31*00003830*2*1">LEANDRO FERREIRA</option>
31*00003835*1*1">LEME DO PRADO</option>
31*00003840*1*1">LEOPOLDINA</option>
31*00003850*0*1">LIBERDADE</option>
31*00003860*9*1">LIMA DUARTE</option>
31*00003862*5*1">LIMEIRA DO OESTE</option>
31*00003865*8*1">LONTRA</option>
31*00003867*4*1">LUISBURGO</option>
31*00003868*2*1">LUISLANDIA</option>
31*00003870*8*1">LUMINARIAS</option>
31*00003880*7*1">LUZ</option>
31*00003890*6*1">MACHACALIS</option>
31*00003900*3*1">MACHADO</option>
31*00003910*2*1">MADRE DE DEUS DE MINAS</option>
31*00003920*1*1">MALACACHETA</option>
31*00003925*0*1">MAMONAS</option>
31*00003930*0*1">MANGA</option>
31*00003940*9*1">MANHUACU</option>
31*00003950*8*1">MANHUMIRIM</option>
31*00003960*7*1">MANTENA</option>
31*00003980*5*1">MAR DE ESPANHA</option>
31*00003970*6*1">MARAVILHAS</option>
31*00003990*4*1">MARIA DA FE</option>
31*00004000*1*1">MARIANA</option>
31*00004010*0*1">MARILAC</option>
31*00004015*9*1">MARIO CAMPOS</option>
31*00004020*9*1">MARIPA DE MINAS</option>
31*00004030*8*1">MARLIERIA</option>
31*00004040*7*1">MARMELOPOLIS</option>
31*00004050*6*1">MARTINHO CAMPOS</option>
31*00004053*0*1">MARTINS SOARES</option>
31*00004055*5*1">MATA VERDE</option>
31*00004060*5*1">MATERLANDIA</option>
31*00004070*4*1">MATEUS LEME</option>
31*00007150*1*1">MATHIAS LOBATO</option>
31*00004080*3*1">MATIAS BARBOSA</option>
31*00004085*2*1">MATIAS CARDOSO</option>
31*00004090*2*1">MATIPO</option>
31*00004100*9*1">MATO VERDE</option>
31*00004110*8*1">MATOZINHOS</option>
31*00004120*7*1">MATUTINA</option>
31*00004130*6*1">MEDEIROS</option>
31*00004140*5*1">MEDINA</option>
31*00004150*4*1">MENDES PIMENTEL</option>
31*00004160*3*1">MERCES</option>
31*00004170*2*1">MESQUITA</option>
31*00004180*1*1">MINAS NOVAS</option>
31*00004190*0*1">MINDURI</option>
31*00004200*7*1">MIRABELA</option>
31*00004210*6*1">MIRADOURO</option>
31*00004220*5*1">MIRAI</option>
31*00004225*4*1">MIRAVANIA</option>
31*00004230*4*1">MOEDA</option>
31*00004240*3*1">MOEMA</option>
31*00004250*2*1">MONJOLOS</option>
31*00004260*1*1">MONSENHOR PAULO</option>
31*00004270*0*1">MONTALVANIA</option>
31*00004280*9*1">MONTE ALEGRE DE MINAS</option>
31*00004290*8*1">MONTE AZUL</option>
31*00004300*5*1">MONTE BELO</option>
31*00004310*4*1">MONTE CARMELO</option>
31*00004315*3*1">MONTE FORMOSO</option>
31*00004320*3*1">MONTE SANTO DE MINAS</option>
31*00004340*1*1">MONTE SIAO</option>
31*00004330*2*1">MONTES CLAROS</option>
31*00004345*0*1">MONTEZUMA</option>
31*00004350*0*1">MORADA NOVA DE MINAS</option>
31*00004360*9*1">MORRO DA GARCA</option>
31*00004370*8*1">MORRO DO PILAR</option>
31*00004380*7*1">MUNHOZ</option>
31*00004390*6*1">MURIAE</option>
31*00004400*3*1">MUTUM</option>
31*00004410*2*1">MUZAMBINHO</option>
31*00004420*1*1">NACIP RAYDAN</option>
31*00004430*0*1">NANUQUE</option>
31*00004435*9*1">NAQUE</option>
31*00004437*5*1">NATALANDIA</option>
31*00004440*9*1">NATERCIA</option>
31*00004450*8*1">NAZARENO</option>
31*00004460*7*1">NEPOMUCENO</option>
31*00004465*6*1">NINHEIRA</option>
31*00004467*2*1">NOVA BELEM</option>
31*00004470*6*1">NOVA ERA</option>
31*00004480*5*1">NOVA LIMA</option>
31*00004490*4*1">NOVA MODICA</option>
31*00004500*0*1">NOVA PONTE</option>
31*00004505*9*1">NOVA PORTEIRINHA</option>
31*00004510*9*1">NOVA RESENDE</option>
31*00004520*8*1">NOVA SERRANA</option>
31*00003660*3*1">NOVA UNIAO</option>
31*00004530*7*1">NOVO CRUZEIRO</option>
31*00004535*6*1">NOVO ORIENTE DE MINAS</option>
31*00004537*2*1">NOVORIZONTE</option>
31*00004540*6*1">OLARIA</option>
31*00004545*5*1">OLHOS-DAGUA</option>
31*00004550*5*1">OLIMPIO NORONHA</option>
31*00004560*4*1">OLIVEIRA</option>
31*00004570*3*1">OLIVEIRA FORTES</option>
31*00004580*2*1">ONCA DE PITANGUI</option>
31*00004585*1*1">ORATORIOS</option>
31*00004587*7*1">ORIZANIA</option>
31*00004590*1*1">OURO BRANCO</option>
31*00004600*8*1">OURO FINO</option>
31*00004610*7*1">OURO PRETO</option>
31*00004620*6*1">OURO VERDE DE MINAS</option>
31*00004625*5*1">PADRE CARVALHO</option>
31*00004630*5*1">PADRE PARAISO</option>
31*00004655*2*1">PAI PEDRO</option>
31*00004640*4*1">PAINEIRAS</option>
31*00004650*3*1">PAINS</option>
31*00004660*2*1">PAIVA</option>
31*00004670*1*1">PALMA</option>
31*00004675*0*1">PALMOPOLIS</option>
31*00004690*9*1">PAPAGAIOS</option>
31*00004710*5*1">PARA DE MINAS</option>
31*00004700*6*1">PARACATU</option>
31*00004720*4*1">PARAGUACU</option>
31*00004730*3*1">PARAISOPOLIS</option>
31*00004740*2*1">PARAOPEBA</option>
31*00004760*0*1">PASSA QUATRO</option>
31*00004770*9*1">PASSA TEMPO</option>
31*00004780*8*1">PASSA-VINTE</option>
31*00004750*1*1">PASSABEM</option>
31*00004790*7*1">PASSOS</option>
31*00004795*6*1">PATIS</option>
31*00004800*4*1">PATOS DE MINAS</option>
31*00004810*3*1">PATROCINIO</option>
31*00004820*2*1">PATROCINIO DO MURIAE</option>
31*00004830*1*1">PAULA CANDIDO</option>
31*00004840*0*1">PAULISTAS</option>
31*00004850*9*1">PAVAO</option>
31*00004860*8*1">PECANHA</option>
31*00004870*7*1">PEDRA AZUL</option>
31*00004875*6*1">PEDRA BONITA</option>
31*00004880*6*1">PEDRA DO ANTA</option>
31*00004890*5*1">PEDRA DO INDAIA</option>
31*00004900*2*1">PEDRA DOURADA</option>
31*00004910*1*1">PEDRALVA</option>
31*00004915*0*1">PEDRAS DE MARIA DA CRUZ</option>
31*00004920*0*1">PEDRINOPOLIS</option>
31*00004930*9*1">PEDRO LEOPOLDO</option>
31*00004940*8*1">PEDRO TEIXEIRA</option>
31*00004950*7*1">PEQUERI</option>
31*00004960*6*1">PEQUI</option>
31*00004970*5*1">PERDIGAO</option>
31*00004980*4*1">PERDIZES</option>
31*00004990*3*1">PERDOES</option>
31*00004995*2*1">PERIQUITO</option>
31*00005000*0*1">PESCADOR</option>
31*00005010*9*1">PIAU</option>
31*00005015*8*1">PIEDADE DE CARATINGA</option>
31*00005020*8*1">PIEDADE DE PONTE NOVA</option>
31*00005030*7*1">PIEDADE DO RIO GRANDE</option>
31*00005040*6*1">PIEDADE DOS GERAIS</option>
31*00005050*5*1">PIMENTA</option>
31*00005053*9*1">PINGO-DAGUA</option>
31*00005057*0*1">PINTOPOLIS</option>
31*00005060*4*1">PIRACEMA</option>
31*00005070*3*1">PIRAJUBA</option>
31*00005080*2*1">PIRANGA</option>
31*00005090*1*1">PIRANGUCU</option>
31*00005100*8*1">PIRANGUINHO</option>
31*00005110*7*1">PIRAPETINGA</option>
31*00005120*6*1">PIRAPORA</option>
31*00005130*5*1">PIRAUBA</option>
31*00005140*4*1">PITANGUI</option>
31*00005150*3*1">PIUMHI</option>
31*00005160*2*1">PLANURA</option>
31*00005170*1*1">POCO FUNDO</option>
31*00005180*0*1">POCOS DE CALDAS</option>
31*00005190*9*1">POCRANE</option>
31*00005200*6*1">POMPEU</option>
31*00005210*5*1">PONTE NOVA</option>
31*00005213*1*1">PONTO CHIQUE</option>
31*00005217*0*1">PONTO DOS VOLANTES</option>
31*00005220*4*1">PORTEIRINHA</option>
31*00005230*3*1">PORTO FIRME</option>
31*00005240*2*1">POTE</option>
31*00005250*1*1">POUSO ALEGRE</option>
31*00005260*0*1">POUSO ALTO</option>
31*00005270*9*1">PRADOS</option>
31*00005280*8*1">PRATA</option>
31*00005290*7*1">PRATAPOLIS</option>
31*00005300*4*1">PRATINHA</option>
31*00005310*3*1">PRESIDENTE BERNARDES</option>
31*00005320*2*1">PRESIDENTE JUSCELINO</option>
31*00005330*1*1">PRESIDENTE KUBITSCHEK</option>
31*00005340*0*1">PRESIDENTE OLEGARIO</option>
31*00005360*8*1">PRUDENTE DE MORAIS</option>
31*00005370*7*1">QUARTEL GERAL</option>
31*00005380*6*1">QUELUZITO</option>
31*00005390*5*1">RAPOSOS</option>
31*00005400*2*1">RAUL SOARES</option>
31*00005410*1*1">RECREIO</option>
31*00005415*0*1">REDUTO</option>
31*00005420*0*1">RESENDE COSTA</option>
31*00005430*9*1">RESPLENDOR</option>
31*00005440*8*1">RESSAQUINHA</option>
31*00005445*7*1">RIACHINHO</option>
31*00005450*7*1">RIACHO DOS MACHADOS</option>
31*00005460*6*1">RIBEIRAO DAS NEVES</option>
31*00005470*5*1">RIBEIRAO VERMELHO</option>
31*00005480*4*1">RIO ACIMA</option>
31*00005490*3*1">RIO CASCA</option>
31*00005510*8*1">RIO DO PRADO</option>
31*00005500*9*1">RIO DOCE</option>
31*00005520*7*1">RIO ESPERA</option>
31*00005530*6*1">RIO MANSO</option>
31*00005540*5*1">RIO NOVO</option>
31*00005550*4*1">RIO PARANAIBA</option>
31*00005560*3*1">RIO PARDO DE MINAS</option>
31*00005570*2*1">RIO PIRACICABA</option>
31*00005580*1*1">RIO POMBA</option>
31*00005590*0*1">RIO PRETO</option>
31*00005600*7*1">RIO VERMELHO</option>
31*00005610*6*1">RITAPOLIS</option>
31*00005620*5*1">ROCHEDO DE MINAS</option>
31*00005630*4*1">RODEIRO</option>
31*00005640*3*1">ROMARIA</option>
31*00005645*2*1">ROSARIO DA LIMEIRA</option>
31*00005650*2*1">RUBELITA</option>
31*00005660*1*1">RUBIM</option>
31*00005670*0*1">SABARA</option>
31*00005680*9*1">SABINOPOLIS</option>
31*00005690*8*1">SACRAMENTO</option>
31*00005700*5*1">SALINAS</option>
31*00005710*4*1">SALTO DA DIVISA</option>
31*00005720*3*1">SANTA BARBARA</option>
31*00005725*2*1">SANTA BARBARA DO LESTE</option>
31*00005727*8*1">SANTA BARBARA DO MONTE VERDE</option>
31*00005730*2*1">SANTA BARBARA DO TUGURIO</option>
31*00005733*6*1">SANTA CRUZ DE MINAS</option>
31*00005737*7*1">SANTA CRUZ DE SALINAS</option>
31*00005740*1*1">SANTA CRUZ DO ESCALVADO</option>
31*00005750*0*1">SANTA EFIGENIA DE MINAS</option>
31*00005760*9*1">SANTA FE DE MINAS</option>
31*00005765*8*1">SANTA HELENA DE MINAS</option>
31*00005770*8*1">SANTA JULIANA</option>
31*00005780*7*1">SANTA LUZIA</option>
31*00005790*6*1">SANTA MARGARIDA</option>
31*00005800*3*1">SANTA MARIA DE ITABIRA</option>
31*00005810*2*1">SANTA MARIA DO SALTO</option>
31*00005820*1*1">SANTA MARIA DO SUACUI</option>
31*00005920*9*1">SANTA RITA DE CALDAS</option>
31*00005940*7*1">SANTA RITA DE IBITIPOCA</option>
31*00005930*8*1">SANTA RITA DE JACUTINGA</option>
31*00005935*7*1">SANTA RITA DE MINAS</option>
31*00005950*6*1">SANTA RITA DO ITUETO</option>
31*00005960*5*1">SANTA RITA DO SAPUCAI</option>
31*00005970*4*1">SANTA ROSA DA SERRA</option>
31*00005980*3*1">SANTA VITORIA</option>
31*00005830*0*1">SANTANA DA VARGEM</option>
31*00005840*9*1">SANTANA DE CATAGUASES</option>
31*00005850*8*1">SANTANA DE PIRAPAMA</option>
31*00005860*7*1">SANTANA DO DESERTO</option>
31*00005870*6*1">SANTANA DO GARAMBEU</option>
31*00005880*5*1">SANTANA DO JACARE</option>
31*00005890*4*1">SANTANA DO MANHUACU</option>
31*00005895*3*1">SANTANA DO PARAISO</option>
31*00005900*1*1">SANTANA DO RIACHO</option>
31*00005910*0*1">SANTANA DOS MONTES</option>
31*00005990*2*1">SANTO ANTONIO DO AMPARO</option>
31*00006000*9*1">SANTO ANTONIO DO AVENTUREIRO</option>
31*00006010*8*1">SANTO ANTONIO DO GRAMA</option>
31*00006020*7*1">SANTO ANTONIO DO ITAMBE</option>
31*00006030*6*1">SANTO ANTONIO DO JACINTO</option>
31*00006040*5*1">SANTO ANTONIO DO MONTE</option>
31*00006045*4*1">SANTO ANTONIO DO RETIRO</option>
31*00006050*4*1">SANTO ANTONIO DO RIO ABAIXO</option>
31*00006060*3*1">SANTO HIPOLITO</option>
31*00006070*2*1">SANTOS DUMONT</option>
31*00006080*1*1">SAO BENTO ABADE</option>
31*00006090*0*1">SAO BRAS DO SUACUI</option>
31*00006095*9*1">SAO DOMINGOS DAS DORES</option>
31*00006100*7*1">SAO DOMINGOS DO PRATA</option>
31*00006105*6*1">SAO FELIX DE MINAS</option>
31*00006110*6*1">SAO FRANCISCO</option>
31*00006120*5*1">SAO FRANCISCO DE PAULA</option>
31*00006130*4*1">SAO FRANCISCO DE SALES</option>
31*00006140*3*1">SAO FRANCISCO DO GLORIA</option>
31*00006150*2*1">SAO GERALDO</option>
31*00006160*1*1">SAO GERALDO DA PIEDADE</option>
31*00006165*0*1">SAO GERALDO DO BAIXIO</option>
31*00006170*0*1">SAO GONCALO DO ABAETE</option>
31*00006180*9*1">SAO GONCALO DO PARA</option>
31*00006190*8*1">SAO GONCALO DO RIO ABAIXO</option>
31*00002550*7*1">SAO GONCALO DO RIO PRETO</option>
31*00006200*5*1">SAO GONCALO DO SAPUCAI</option>
31*00006210*4*1">SAO GOTARDO</option>
31*00006220*3*1">SAO JOAO BATISTA DO GLORIA</option>
31*00006225*2*1">SAO JOAO DA LAGOA</option>
31*00006230*2*1">SAO JOAO DA MATA</option>
31*00006240*1*1">SAO JOAO DA PONTE</option>
31*00006245*0*1">SAO JOAO DAS MISSOES</option>
31*00006250*0*1">SAO JOAO DEL REI</option>
31*00006255*9*1">SAO JOAO DO MANHUACU</option>
31*00006257*5*1">SAO JOAO DO MANTENINHA</option>
31*00006260*9*1">SAO JOAO DO ORIENTE</option>
31*00006265*8*1">SAO JOAO DO PACUI</option>
31*00006270*8*1">SAO JOAO DO PARAISO</option>
31*00006280*7*1">SAO JOAO EVANGELISTA</option>
31*00006290*6*1">SAO JOAO NEPOMUCENO</option>
31*00006292*2*1">SAO JOAQUIM DE BICAS</option>
31*00006294*8*1">SAO JOSE DA BARRA</option>
31*00006295*5*1">SAO JOSE DA LAPA</option>
31*00006300*3*1">SAO JOSE DA SAFIRA</option>
31*00006310*2*1">SAO JOSE DA VARGINHA</option>
31*00006320*1*1">SAO JOSE DO ALEGRE</option>
31*00006330*0*1">SAO JOSE DO DIVINO</option>
31*00006340*9*1">SAO JOSE DO GOIABAL</option>
31*00006350*8*1">SAO JOSE DO JACURI</option>
31*00006360*7*1">SAO JOSE DO MANTIMENTO</option>
31*00006370*6*1">SAO LOURENCO</option>
31*00006380*5*1">SAO MIGUEL DO ANTA</option>
31*00006390*4*1">SAO PEDRO DA UNIAO</option>
31*00006410*0*1">SAO PEDRO DO SUACUI</option>
31*00006400*1*1">SAO PEDRO DOS FERROS</option>
31*00006420*9*1">SAO ROMAO</option>
31*00006430*8*1">SAO ROQUE DE MINAS</option>
31*00006440*7*1">SAO SEBASTIAO DA BELA VISTA</option>
31*00006443*1*1">SAO SEBASTIAO DA VARGEM ALEGRE</option>
31*00006447*2*1">SAO SEBASTIAO DO ANTA</option>
31*00006450*6*1">SAO SEBASTIAO DO MARANHAO</option>
31*00006460*5*1">SAO SEBASTIAO DO OESTE</option>
31*00006470*4*1">SAO SEBASTIAO DO PARAISO</option>
31*00006480*3*1">SAO SEBASTIAO DO RIO PRETO</option>
31*00006490*2*1">SAO SEBASTIAO DO RIO VERDE</option>
31*00006520*6*1">SAO THOME DAS LETRAS</option>
31*00006500*8*1">SAO TIAGO</option>
31*00006510*7*1">SAO TOMAS DE AQUINO</option>
31*00006530*5*1">SAO VICENTE DE MINAS</option>
31*00006540*4*1">SAPUCAI-MIRIM</option>
31*00006550*3*1">SARDOA</option>
31*00006553*7*1">SARZEDO</option>
31*00006556*0*1">SEM-PEIXE</option>
31*00006557*8*1">SENADOR AMARAL</option>
31*00006560*2*1">SENADOR CORTES</option>
31*00006570*1*1">SENADOR FIRMINO</option>
31*00006580*0*1">SENADOR JOSE BENTO</option>
31*00006590*9*1">SENADOR MODESTINO GONCALVES</option>
31*00006600*6*1">SENHORA DE OLIVEIRA</option>
31*00006610*5*1">SENHORA DO PORTO</option>
31*00006620*4*1">SENHORA DOS REMEDIOS</option>
31*00006630*3*1">SERICITA</option>
31*00006640*2*1">SERITINGA</option>
31*00006650*1*1">SERRA AZUL DE MINAS</option>
31*00006660*0*1">SERRA DA SAUDADE</option>
31*00006680*8*1">SERRA DO SALITRE</option>
31*00006670*9*1">SERRA DOS AIMORES</option>
31*00006690*7*1">SERRANIA</option>
31*00006695*6*1">SERRANOPOLIS DE MINAS</option>
31*00006700*4*1">SERRANOS</option>
31*00006710*3*1">SERRO</option>
31*00006720*2*1">SETE LAGOAS</option>
31*00006555*2*1">SETUBINHA</option>
31*00006730*1*1">SILVEIRANIA</option>
31*00006740*0*1">SILVIANOPOLIS</option>
31*00006750*9*1">SIMAO PEREIRA</option>
31*00006760*8*1">SIMONESIA</option>
31*00006770*7*1">SOBRALIA</option>
31*00006780*6*1">SOLEDADE DE MINAS</option>
31*00006790*5*1">TABULEIRO</option>
31*00006800*2*1">TAIOBEIRAS</option>
31*00006805*1*1">TAPARUBA</option>
31*00006810*1*1">TAPIRA</option>
31*00006820*0*1">TAPIRAI</option>
31*00006830*9*1">TAQUARACU DE MINAS</option>
31*00006840*8*1">TARUMIRIM</option>
31*00006850*7*1">TEIXEIRAS</option>
31*00006860*6*1">TEOFILO OTONI</option>
31*00006870*5*1">TIMOTEO</option>
31*00006880*4*1">TIRADENTES</option>
31*00006890*3*1">TIROS</option>
31*00006900*0*1">TOCANTINS</option>
31*00006905*9*1">TOCOS DO MOJI</option>
31*00006910*9*1">TOLEDO</option>
31*00006920*8*1">TOMBOS</option>
31*00006930*7*1">TRES CORACOES</option>
31*00006935*6*1">TRES MARIAS</option>
31*00006940*6*1">TRES PONTAS</option>
31*00006950*5*1">TUMIRITINGA</option>
31*00006960*4*1">TUPACIGUARA</option>
31*00006970*3*1">TURMALINA</option>
31*00006980*2*1">TURVOLANDIA</option>
31*00006990*1*1">UBA</option>
31*00007000*8*1">UBAI</option>
31*00007005*7*1">UBAPORANGA</option>
31*00007010*7*1">UBERABA</option>
31*00007020*6*1">UBERLANDIA</option>
31*00007030*5*1">UMBURATIBA</option>
31*00007040*4*1">UNAI</option>
31*00007043*8*1">UNIAO DE MINAS</option>
31*00007047*9*1">URUANA DE MINAS</option>
31*00007050*3*1">URUCANIA</option>
31*00007052*9*1">URUCUIA</option>
31*00007057*8*1">VARGEM ALEGRE</option>
31*00007060*2*1">VARGEM BONITA</option>
31*00007065*1*1">VARGEM GRANDE DO RIO PARDO</option>
31*00007070*1*1">VARGINHA</option>
31*00007075*0*1">VARJAO DE MINAS</option>
31*00007080*0*1">VARZEA DA PALMA</option>
31*00007090*9*1">VARZELANDIA</option>
31*00007100*6*1">VAZANTE</option>
31*00007103*0*1">VERDELANDIA</option>
31*00007107*1*1">VEREDINHA</option>
31*00007110*5*1">VERISSIMO</option>
31*00007115*4*1">VERMELHO NOVO</option>
31*00007120*4*1">VESPASIANO</option>
31*00007130*3*1">VICOSA</option>
31*00007140*2*1">VIEIRAS</option>
31*00007160*0*1">VIRGEM DA LAPA</option>
31*00007170*9*1">VIRGINIA</option>
31*00007180*8*1">VIRGINOPOLIS</option>
31*00007190*7*1">VIRGOLANDIA</option>
31*00007200*4*1">VISCONDE DO RIO BRANCO</option>
31*00007210*3*1">VOLTA GRANDE</option>
31*00007220*2*1">WENCESLAU BRAZ</option></select>
	